*{ 
    color-scheme: dark;
    font-family: "Open Sans", sans-serif;
}

/*Header*/
.header {
    width: 100%;
    padding: 16px, 24px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Główna sekcja nagłówka */
.header-content {
    background-color: #222222;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

/*Logo i nazwa*/
.logo-section {
    display:flex;
    align-items: center;
    gap: 10px;
    cursor:pointer;
}

.logo-img{
    height: 40px;
}

/* Sekcja wyszukiwania */
.search {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 800;
}

.search-section {
    display: flex;
    align-items: center;
    overflow: hidden;
    gap: 0px;
}

.search-bar {
    flex-grow: 3;
    padding: 10px;
    outline: none;
}

/* Pole "Kategorie" */
#kategorie {
    padding: 10px;
    gap: 0px;
}

.search-btn {
    padding: 10px;
    outline: none;
    background-color: #ff5a00;
    cursor: pointer;
}

.icons-section {
    display: flex;
    gap: 10px;
}

.icons-section img {
    height: 30px;
    cursor: pointer;
    color: #ffffff;
}

.logowanie {
    font-size: small;
    align-items: center;
    position: fixed;
    padding: 10px;
}

.accessibility {
    display: flex;
    gap: 15px
}

.accessibility img {
    height: 50px;
    cursor: pointer;

}
.usefull-links {
    display: flex;
    gap: 10px;
    background-color: #222222;
    padding-top: 100px;
    padding-bottom: 10px;
    margin: 2px;
    font-size: small;
    align-items: center;
    cursor: pointer;
}

.usefull-links img {
    height: 15px;
}

.full-width-image {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.main {
    text-align: center;
    cursor: pointer;
    background: #222222; }

.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 15px;
    padding: 20px;
    background-color: #222222;
    margin: 10px;
}

/* Każdy element z obrazkiem i napisem */
.category-item {
    text-align: center;
}

.image-caption {
    margin-top: 10px;
    font-size: 0.8em;
    color: #ffffff;
}

.ofert {
    display: flexbox;
    background: #ff5a00;
    margin: 1vw;
}

.baner {
    width: 90%; ;
}
.offf {
    background-color: #222222;
    margin: 10px;
    padding: 1vw;
    text-align: center;
    gap: 10px;
}
.four-columns {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100%;

}

.column {
    flex: 15;
    padding: 5px;
    text-align: left;
    background-color: #222222;
    font-family: "Open Sans";
    font-size: small;
    
}

@media only screen and (max-width: 768px) {

    html,
    body {
        --border-radius: 50px;
        --gutter: 6.25vw;
    }

    h1 {
        font-size: 15px;
    }

    h2 {
        font-size: 10px;
    }

    nav ul li {
        margin-left: 25px;
    }

    section.service article {
        flex-direction: column;
    }

    section.service figure {
        flex-basis: 25vh;
    }

    section.service figure img {
        width: 20%;
    }

    section.contact a {
        font-size: 50px;
        transform: rotate(90deg);
    }
}